<!-- <span *ngIf="!connected"> -->
    <span *ngIf="connectedUser == null">
        <a [routerLink]="['/login']">Log in</a> | 
    <a [routerLink]="['/register']">Register</a> 
    </span>
    
    
    <!-- <span *ngIf="connected"> -->
        <span *ngIf="connectedUser != null">
        <a [routerLink]="['/profile']">{{connectedUser.firstName}} </a>
        <a [routerLink]="['/adminPanel']" *ngIf="connectedUser.role"> | Control Panel</a>
        <button nbButton (click)="logout()">Disconnect</button>
    </span>
